<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129283460848-has7650or3nmmaidfhsapigilnij3rju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129283460848-has7650or3nmmaidfhsapigilnij3rju</string>
	<key>API_KEY</key>
	<string>AIzaSyBLCvaLQ5mhTpWxmdnfKXHSX7-27aGEk9k</string>
	<key>GCM_SENDER_ID</key>
	<string>129283460848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.latihanFirebase</string>
	<key>PROJECT_ID</key>
	<string>latihan-firebase-yogi</string>
	<key>STORAGE_BUCKET</key>
	<string>latihan-firebase-yogi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129283460848:ios:190512341b47a0114a7c35</string>
</dict>
</plist>